@{
    ViewBag.Title = "Advisory Board";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this <a href="https://marriottschool.byu.edu/advisoryboard/directory?id=12">page</a> to provide additional information.</p>
