@{
    ViewBag.Title = "Advisory Board";
}
<h1>Information Systems Department Advisory Board</h1>
<h3>@ViewBag.Message</h3>

<div class="body-left-faculty">
    <p>
        <img src="https://marriottschool.byu.edu/upload/advisoryboard/photo/b12/2603.jpg">
    </p>
    <br />
    <p>
        <img src="https://marriottschool.byu.edu/upload/advisoryboard/photo/b12/2602.jpg">
    </p>
</div>

<div class="body-right">
    <br /><br /><br /><br /><br />
    <h2><a href="https://marriottschool.byu.edu/advisoryboard/directory/member/?id=2603">Adam R. Wariner</a></h2>
    <h3>IT Strategic Planning Manager, ExxonMobil</h3>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h2><a href="https://marriottschool.byu.edu/advisoryboard/directory/member/?id=2602">Adam Wright</a></h2>
    <h3>Senior Manager, Advisory Services, EY</h3>
</div>
