@{
    ViewBag.Title = "Advisory Board";
}
<h2>Information Systems Department Advisory Board</h2>

<div id="container">
    <div id="faculty-container">
        <div class="body-left-faculty">
            <img src="https://marriottschool.byu.edu/upload/advisoryboard/photo/b12/2603.jpg" height="200">
        </div>
        <div class="body-right">
            <h3><a href="https://marriottschool.byu.edu/advisoryboard/directory/member/?id=2603">Adam R. Wariner</a></h3>
            <h4>IT Strategic Planning Manager, ExxonMobil</h4>
        </div>
    </div>

    <div id="faculty-container">
        <div class="body-left-faculty">
            <img src="https://marriottschool.byu.edu/upload/advisoryboard/photo/b12/2602.jpg" height="200">
        </div>
        <div class="body-right">
            <h3><a href="https://marriottschool.byu.edu/advisoryboard/directory/member/?id=2602">Adam Wright</a></h3>
            <h4>Senior Manager, Advisory Services, EY</h4>
        </div>
     </div>
</div>
