@{
    ViewBag.Title = "BSIS";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <img src="https://marriottschool.byu.edu/msmadmin/securefile/empphoto/?file=b0%2F5325.jpg"/>
</p>

<p>Use this <a href="http://registrar.byu.edu/catalog/2014-2015ucat/departments/InfoSystems/ISMain.php">page</a> to add additional information.</p>
