@{
    ViewBag.Title = "BSIS";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="body-left">
    <p>
        <img src="https://marriottschool.byu.edu/msmadmin/securefile/empphoto/?file=b0%2F5325.jpg" /><br />
        <strong> Marshall B. Romney, Chair</strong><br />
    </p>   
</div>

<div class="body-right">
    <h3>The Discipline</h3>
    <p>  
        Computer-based information systems have become a critical part of the products, services, operations, and management 
        of all organizations. The effective and efficient use of information and communications technologies is an important 
        element in achieving competitive advantage for business organizations as well as achieving excellence in service for 
        government and non-profit organizations. The twenty-first century has seen the rapid growth of the Internet, eCommerce, 
        and purely electronic enterprises. These organizations would not even exist without the technology provided by 
        computer-based information systems. The importance of information systems to organizations and the need for well-educated 
        professionals in the field is the basis for strong educational programs and the development of a professional community 
        of information systems (IS) practitioners.
    </p>

    <h3>Program Requirements</h3>
    <p>
        Click <a href="http://registrar.byu.edu/catalog/2014-2015ucat/departments/InfoSystems/ISMajor.php">here</a> for more 
        information about the requirements to graduate with a Bachelor's in Information Systems
    </p>
    <br /><br />
    <p><p>Visit BYU's <a href="http://registrar.byu.edu/catalog/2014-2015ucat/departments/InfoSystems/ISMain.php">Information Systems Ungraduate page</a> for additional information regarding this degree.</p></p>
</div>
