@{
    ViewBag.Title = "Faculty";
}
<h1>Full Time Faculty</h1>
<h3>@ViewBag.Message</h3>
<div class="body-left-faculty">
    <p>
        <img src="https://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5293.jpg" width="150" height="200"/> 
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5487.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b2%2F29146.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F1478.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5305.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5438.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b2%2F26429.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b2%2F29237.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5352.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b2%2F22394.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5345.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b3%2F39949.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5325.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5427.jpg" width="150" height="200" />
    </p>
    <br /><br /><br /><br /><br />
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F2644.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F7239.jpg" width="150" height="200" />
    </p>
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b3%2F33883.jpg" width="150" height="200" />
    </p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <p>
        <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F2623.jpg" width="150" height="200" />
    </p>
</div>

<div class="body-right">
    
    <br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=5293">Conan Albrecht</a></h2>
    <h3>Associate Professor of Information Systems</h3>
    <p>
        Office: 780 TNRB<br />
        Email: ca@byu.edu<br />
    </p>

    <br /><br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=5487">Gove Allen</a></h2>
    <h3>Associate Professor of Information Systems</h3>
    <p>
        Office: 778 TNRB<br />
        Email: gove@byu.edu<br />
    </p>

    <br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=29146">Greg Anderson</a></h2>
    <h3>Associate Teaching Professor</h3>
    <p>
        Office: 782 TNRB<br />
        Email: profganderson@byu.edu<br />
    </p>

    <br /><br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=1478">Bonnie Anderson</a></h2>
    <h3>Associate Professor of Information Systems</h3>
    <p>
        Office: 776 TNRB<br />
    </p>

    <br /><br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=5305">Doug Dean</a></h2>
    <h3>Associate Professor of Information Systems</h3>
    <p>
        Office: 786 TNRB<br />
        Email: doug_dean@byu.edu<br />
    </p>

    <br /><br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=5293">James Gaskin</a></h2>
    <h3>Assistant Professor</h3>
    <p>
        Office: 785 TNRB<br />
        Email: james.gaskin@byu.edu<br />
    </p>

    <br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=26429">Jeff Jenkins</a></h2>
    <h3>Assistant Professor</h3>
    <p>
        Office: 783 TNRB<br />
        Email: jeffrey_jenkins@byu.edu<br />
    </p>

    <br /><br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=29237">Mark Keith</a></h2>
    <h3>Assistant Professor</h3>
    <p>
        Email: mark.keith@byu.edu<br />
    </p>

    <br /><br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=5352">Steve Liddle</a></h2>
    <h3>Professor of Information Systems</h3>
    <p>
        Office: 784 TNRB<br />
        Email: liddle@byu.edu<br />
    </p>

    <br /><br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=22394">Tom Meservy</a></h2>
    <h3>Assistant Professor</h3>
    <p>
        Office: 781 TNRB<br />
        Email: tmeservy@byu.edu<br />
    </p>

    <br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=5345">Rayman Meservy</a></h2>
    <h3>Associate Professor of Information Systems</h3>
    <p>
        Office: 788 TNRB<br />
        Email: meservy@byu.edu<br />
    </p>

    <br /><br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=39949">Katherine Payne</a></h2>
    <h3>Assistant Professor</h3>
    <p>
        Office: 779 TNRB<br />
        Email: kcpayne@byu.edu<br />
    </p>

    <br /><br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=5325">Marshall Romner</a></h2>
    <h3>Chairman, Information Systems Department, John and Nancy Hardy Professor of Information Systems</h3>
    <p>
        Office: 790A TNRB<br />
    </p>

    <br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=5427">Anthony Vance</a></h2>
    <h3>Assistant Professor</h3>
    <p>
        Office: 779 TNRB<br />
        Email: anthony.vance@byu.edu<br />
    </p>
    <br /><br />
<h1>Part-Time Faculty</h1>

    <br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=2644">Frank Dittmar</a></h2>
    <h3>Part-time faculty</h3>
    <p>
        Office: 790 TNRB<br />
        Email: frank.dittmar@byu.edu<br />
    </p>

    <br /><br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=7239">David Eargle</a></h2>
    <h3>Adjunct Professor</h3>
    <p>
    </p>

    <br /><br /><br /><br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=33883">Christian Faulconer</a></h2>
    <h3>Adjunct Professor</h3>
    <p>
        Office: 3494 WSC<br />
        Email: cf@byu.edu<br />
    </p>
    <br />
<h1>Administrative and Full-Time Staff</h1>

    <br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=2961">Ann Boekweg</a></h2>
    <h3>Academic Advisor</h3>
    <p>
    </p>

    <br /><br />
    <h2><a href="http://marriottschool.byu.edu/directory/details?id=2623">Yasmin Godinez</a></h2>
    <h3>Information Systems Department Secretary</h3>
    <p>
        Office: 790 TNRB<br />
    </p>
</div>
