@{
    ViewBag.Title = "Faculty";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this <a href="http://registrar.byu.edu/catalog/2014-2015ucat/departments/InfoSystems/Faculty.php">page</a> and this <a href="http://marriottschool.byu.edu/mism/faculty">page</a> to add additional information.</p>
