@{
    ViewBag.Title = "Faculty";
}
<h2>Full Time Faculty</h2>

<div id="container">
        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="https://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5293.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=5293">Conan Albrecht</a></h3>
                <h4>Associate Professor of Information Systems</h4>
                <p>
                    Office: 780 TNRB<br />
                    Email: ca@byu.edu<br />
                </p>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5487.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=5487">Gove Allen</a></h3>
                <h4>Associate Professor of Information Systems</h4>
                <p>
                    Office: 778 TNRB<br />
                    Email: gove@byu.edu<br />
                </p>
            </div>
        </div>
        

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b2%2F29146.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=29146">Greg Anderson</a></h3>
                <h4>Associate Teaching Professor</h4>
                <p>
                    Office: 782 TNRB<br />
                    Email: profganderson@byu.edu<br />
                </p>
            </div>
        </div>
      
        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F1478.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=1478">Bonnie Anderson</a></h3>
                <h4>Associate Professor of Information Systems</h4>
                <p>
                    Office: 776 TNRB<br />
                </p>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5305.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=5305">Doug Dean</a></h3>
                <h4>Associate Professor of Information Systems</h4>
                <p>
                    Office: 786 TNRB<br />
                    Email: doug_dean@byu.edu<br />
                </p>
            </div>
        </div>
        

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5438.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=5293">James Gaskin</a></h3>
                <h4>Assistant Professor</h4>
                <p>
                    Office: 785 TNRB<br />
                    Email: james.gaskin@byu.edu<br />
                </p>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b2%2F26429.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=26429">Jeff Jenkins</a></h3>
                <h4>Assistant Professor</h4>
                <p>
                    Office: 783 TNRB<br />
                    Email: jeffrey_jenkins@byu.edu<br />
                </p>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b2%2F29237.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=29237">Mark Keith</a></h3>
                <h4>Assistant Professor</h4>
                <p>
                    Email: mark.keith@byu.edu<br />
                </p>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5352.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=5352">Steve Liddle</a></h3>
                <h4>Professor of Information Systems</h4>
                <p>
                    Office: 784 TNRB<br />
                    Email: liddle@byu.edu<br />
                </p>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b2%2F22394.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=22394">Tom Meservy</a></h3>
                <h4>Assistant Professor</h4>
                <p>
                    Office: 781 TNRB<br />
                    Email: tmeservy@byu.edu<br />
                </p>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5345.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=5345">Rayman Meservy</a></h3>
                <h4>Associate Professor of Information Systems</h4>
                <p>
                    Office: 788 TNRB<br />
                    Email: meservy@byu.edu<br />
                </p>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b3%2F39949.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=39949">Katherine Payne</a></h3>
                <h4>Assistant Professor</h4>
                <p>
                    Office: 779 TNRB<br />
                    Email: kcpayne@byu.edu<br />
                </p>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5325.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=5325">Marshall Romner</a></h3>
                <h4>Chairman, Information Systems Department, John and Nancy Hardy Professor of Information Systems</h4>
                <p>
                    Office: 790A TNRB<br />
                </p>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5427.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=5427">Anthony Vance</a></h3>
                <h4>Assistant Professor</h4>
                <p>
                    Office: 779 TNRB<br />
                    Email: anthony.vance@byu.edu<br />
                </p>
            </div>
        </div>

        <h2>Part-Time Faculty</h2>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F2644.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=2644">Frank Dittmar</a></h3>
                <h4>Part-time faculty</h4>
                <p>
                    Office: 790 TNRB<br />
                    Email: frank.dittmar@byu.edu<br />
                </p>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F7239.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=7239">David Eargle</a></h3>
                <h4>Adjunct Professor</h4>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b3%2F33883.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=33883">Christian Faulconer</a></h3>
                <h4>Adjunct Professor</h4>
                <p>
                    Office: 3494 WSC<br />
                    Email: cf@byu.edu<br />
                </p>
            </div>
        </div>

        <h2>Administrative and Full-Time Staff</h2>
        <div id="faculty-container">
            <div class="body-left-faculty">
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=2961">Ann Boekweg</a></h3>
                <h4>Academic Advisor</h4>
            </div>
        </div>

        <div id="faculty-container">
            <div class="body-left-faculty">
                <img src="http://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F2623.jpg" height="200" />
            </div>
            <div class="body-right">
                <h3><a href="http://marriottschool.byu.edu/directory/details?id=2623">Yasmin Godinez</a></h3>
                <h4>Information Systems Department Secretary</h4>
                <p>
                    Office: 790 TNRB<br />
                </p>
            </div>
        </div>

</div>
