@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h3><b>Information Systems - Brigham Young University</b></h3>
    <div class="banner"><img src="http://www.ccny.cuny.edu/is/images/infobanner.jpg" /></div>
    <p>Everyone likes to have career options. Few programs will give you more than a degree in Information Systems</p>
    <ul>
        <li>Study in two worlds - business and technology - and learn to help them work together. Learn how to desing, develop, implement, manage, and advise on information technology systems and processes.</li>
        <li>Begin a career that  the U.S. Department of Labor predicts will, "grow faster than the average for all occupations through 2016."</li>
        <!-- Info taken from http://marriottschool.byu.edu/bsis/-->
    </ul>
    <p class="bold-italic">Which degree would you like to learn more about?</p>
    @using (Html.BeginForm("ComboResult","Home")) { 
        @Html.DropDownList("PageID");
        <input type="submit" value="Go">

    }
</div>