@{
    ViewBag.Title = "MISM";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="body-left">
    <p>
        <img src="https://marriottschool.byu.edu/msmadmin/securefile/empphoto/?file=b0%2F1478.jpg" /><br />
        <strong> Bonnie Anderson, Chair<!--I am not sure if she is the chair or not--></strong><br />
    </p>
</div>

<div class="body-right">
    <h3>Overview</h3>
    <p>
        The Masters of Information Systems Management (MISM) degree is designed for students seeking professional careers in 
        information systems. The MISM blends information systems theory with a "hands on" approach to learning information 
        systems design and implementation skills. Management topics are particularly emphasized.
    </p>
    <p>
        The MISM degree features a newly revised curriculum allowing students to develop a foundation of key Information Systems 
        topics including management and strategy, people and organizations, IT architecture, security, and business intelligence. 
        Additionally, 15 hours of elective courses are required, giving students the flexibility to further study information 
        systems and/or management topics of their choice. All MISM classes contain the underpinning themes of ethics, 
        communication, professionalism, team dynamics, controls, risk management, project management, flexibility, 
        and adaptability.
    </p>

    <p>
        The MISM program is a five-year integrated option for BYU students in the Bachelors of Information Systems program, as 
        well as an option for students who have already completed a bachelors degree. The completion time for students with a 
        bachelors degree is dependent on their undergraduate major and the amount of prior information technology training.
    </p>
    <br />
    <p><p>Visit BYU's <a href="http://marriottschool.byu.edu/mism/overview">MISM page</a> for additional information regarding this degree.</p></p>
</div>