@{
    ViewBag.Title = "MISM";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
<img src="https://marriottschool.byu.edu/msmadmin/securefile/empphoto/?file=b0%2F1478.jpg" />
</p>
<p>Use this <a href="http://marriottschool.byu.edu/mism/overview">page</a> to add additional information.</p>
