body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.banner {
    /* Set properties for banner on main page*/
    margin-left:auto;
    margin-right:auto;
    width: 734px;
    padding-top:10px;
    padding-bottom:30px;
}

.bold-italic {
    font-weight:bold;
    font-style:italic;
}

.body-left{
    border-right: solid 1px #d9d9d9;
    width: 250px;
    left: 10px;
    text-align: center;
}

.body-left-faculty{
    width: 250px;
    left: 10px;
    text-align: center;
}

.body-right{
    right: 50px;
    top: 100px;
    left: 380px;
    position:absolute;
    text-align: justify;
}
footer{
    bottom: 15px;
    left: 50px;
    right: 50px;
    position: static;
    border-top: solid 1px #d9d9d9;
}

.field-validation-error
{
    color: red;
}

.validation-summary-errors
{
    color: Red;
}